<html>
  <head>
    <meta charset="UTF-8">
    <title>Fatih Can Keser</title>
    <% include partials/links %>
  </head>
  <body>
    <% include partials/navbar %>
    
    <div class="sky container">
      <%-body%>
    </div>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>