<html>
  <head>
    <meta charset="UTF-8">
    <title>Talihlisi</title>
    <% include partials/index-link %>
  </head>
  <body ng-app="MyApp" ng-controller="tabCtrl">
    <%-body%>
    <% include partials/scripts %>
  </body>
</html>